@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

body{
  display: flex;
  background-color: #D4D4D2;
  align-items: center;
}

.container{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 466px;
  text-align: center;
  border: 10px solid black;
  background-color: black;
  border-radius: 10px; 
  cursor:initial;
}

.keypad{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

input[type="text"]{
  height: 75px;
  width: 466px;
  background-color: black;
  border: 0px;
  color: white;
  text-align: right;
  font-size: 25px;
  font-weight: 500px;
  letter-spacing: 1px;
  color: transparent;
}

#clear{
  /* grid-column: 1/3;
  grid-row: 1; */
  color: #262834;

}
#rand{
  /* grid-column: 5/3;
  grid-row: 1; */
  color: #262834;
}
#exp{
  color: #262834;
}

#result{
  /* grid-column: 3/5;
  grid-row: 5; */
  color: #262834;
}

#backspace{
  color: #505050;
  background: cyan;
}

button{
  margin: 4px;
  border: none;
  border-radius: 150px;
  cursor: pointer;
  background: #262834;
  color:white;
}
input {
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
}

input:focus,
input:active,
button:focus,
button:active{
  outline: none;
}

.highlight{
  background:#FF9500;
}

.h1{
  left: 50%;
  right: auto;
  position: absolute;
  font-weight: bold;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.h12{
  position: absolute;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -50%);
  right: auto;
  top: 90%;
}
a{
  color: #262834;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}

a:active{
  color: #FF9500;
}

a:hover{
  color: rebeccapurple;
}

